

.contentHeader {
  height: 507px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentHeader h1 {
  font-family: Gotham !important;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 80px;
  color: var(--text-color);
  text-align: center;
}
.searchWrapper {
      display: flex;
      justify-content: center;
}
.search {
    width: min(90%, 819px);
    display: flex;
    justify-content: center;
     border: 1px solid #374559;
     border-radius: 35.5px;
     z-index: 20;
      height: 71px;
     margin-top: -30px;
      background: var(--background-color);
}
.search input {
  width: 100%;
 
  font-size: 24px;
  border: transparent;
  box-sizing: border-box;
  border-radius: 35.5px;
  background: var(--background-color);
  outline: none;
}
.search button {
  width: 162px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dedede;
  border: transparent;
  border-radius: 35.5px;
  cursor: pointer;
}
.search h3 {
  width: 99px;
  height: 30px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color);
}
.trending {
 display: flex;
 justify-content: center;
 align-items: center;
}
.trendingWrapper {
    width: 1440px;
   
}
.trending h1 {
  text-align: center;
  margin-top: 95px;
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--text-color);
}

.topTrendingItems {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.topTrendingItems h3 {
  margin: 0 33px 0 33px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
  margin-bottom: 0px;
}
.trendingCards {
  
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.trendingCard {
  background-color: var(--background-color);
  width: 293px;
  height: 377px;
  margin: 24px 7.5px 0 7.5px;
}
.trendingPhotoCard {
  width: 257px;
  height: 249px;
  background: var(--card-color);
  margin: 14px 18px 0 18px;
}
.trendingCard p {
  margin: 15px 18px 30px 18px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}
.videoSpace {
  margin-top: 61px;
  height: 394px;
  width: 100%;
  background-color: var(--background-color);
}
.videosdiv {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videosWrapper {
  max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.videos {
  width: 317px;
  height: 249px;
  background-color: var(--background-color);
}
.videosCard {
    margin-left: 8px;
    margin-right: 8px;
}
.videosCard p {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 265px;
  color: var(--text-color);
  margin-bottom: 0px;
}
.news {
  margin-top: 77px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  height: 585px;
  width:100%;
}
.news h1 {
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
 padding-top: 66px;
  text-align: center;
  color: var(--text-color);
}
.newsWrapper {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 96px;
  overflow-x: scroll;
  /* overflow-y: hidden;
  height: fit-content; */
  min-height: 377px;
  width: 100%;
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
}
.newsWrapper::-webkit-scrollbar {
  display: none;
}

.newsImageCard {
  width: 257px;
  height: 249px;
  background-color: var(--card-color);
}
.newsCard p{
  width: 257px;
  height: 69px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 0px;
  color: var(--text-color);
}
.newsCard {
  width: 293px;
  height: 100%;
  margin: 0 7.5px 0 7.5px;
}
.tags {
  margin-top: 53px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  
}
.tags h1 {
text-align: center;
font-family: Gotham;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
margin-top: 0 !important;
padding-top: 59px;
margin-bottom:0px;
color: var(--text-color);
}
.tagsWrapper {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin-bottom: 56px;
}
.tagsBox {
  height: 65px;
  width: 242px;
  background-color: var(--card-color);
  border-radius: 32.5px;
  margin: 14px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagsWrapper h3{
font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
margin: 0px !important;
color: var(--text-color);
width: auto;
height: 30px;
}
.influencersCity h1{
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 96px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--text-color);
}
.influencersCity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.influencersCityWrapper {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.influencersCityBigImage {
  width: 596px;
  height: 480px;
  background-color: var(--background-color);
  margin:0 11.5px 0 11.5px;
    margin-top: 42px;
}
.influencersCityCard {
  margin: 0 11.5px 0 11.5px;
    margin-top: 42px;
  width: 317px;
  height: 100%;
}
.influencersCityImageCard {
  width: 317px;
  height: 395px;
  background-color: var(--background-color);
}
.influencersCityCard p {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  margin-top: 16px;
}
.influencersChoice h1 {
   font-family: Gotham;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 40px;
   text-transform: uppercase;
   color: var(--text-color);
   margin-top: 88px;
   margin-bottom: 0px;
   text-align: center;
}
.influencersChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choiceItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.choiceItems h3 {
  margin: 0 33px 0 33px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
}
.influencersChoiceWrapper {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin-top: 49px;
    overflow-x: scroll;
    /* overflow-y: hidden;
  height: fit-content; */
    min-height: 500px;
    width: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}
.influencersChoiceWrapper::-webkit-scrollbar {
  display: none;
}
.influencersChoiceCard {
  width: 300px;
  height: 100%;
  margin: 0 13px 0 13px;
}
.influencersChoiceImageCard {
  width: 299px;
  height: 395px;
  background-color: var(--background-color);
}
.influencersChoiceCard p {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  width: 265px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.celebrityVideo {
  width: 100%;
  height: 394px;
  margin-top:61px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.celebrityVideo h1 {
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--text-color);
}
.celebrityNews h1 {
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--text-color);
  margin-top: 72px;
  margin-bottom: 0px;
  text-align: center;
}
.celebrityNews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.celebrityNewsWrapper {
  max-width: 1440px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 19px;
   margin-bottom: 267px;
}
.celebrityCard {
  width: 300px;
  height: 100%;
  margin: 22px 13px;
}
.celebrityImageCard {
  width: 299px;
  height: 255px;
  background-color: var(--background-color);
}
.celebrityCard p {
  width: 265px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 0px;
  color: var(--text-color);
}
@media only screen and (max-width: 1180px) {
  .newsWrapper {
  justify-content: flex-start;
  }
  .influencersChoiceWrapper {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
.influencersCityBigImage {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.trendingCard p {
  margin-top: 6px;
  margin-bottom: 11px;
}

.videosCard p {
  margin-bottom: 24px;
}
.tagsBox {
  min-width: 121px;
  width: auto;
  height: 44px;
}
.tagsWrapper h3 {
  font-size: 16px;
  padding: 0px 20px;
}
.influencersCity h1 {
  font-size: 24px;
  line-height: 27px;
}
.influencersChoice h1 {
    font-size: 24px;
    line-height: 27px;
}
.choiceItems h3{
  margin: 10px 16px 10px 16px;
}
}
@media only screen and (max-width: 480px) {
  .contentHeader h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .search {
    height: 46px;
  }
  .search button {
    height: 44px;
  }
  .topTrendingItems h3 {
    margin: 10px 16px 10px 16px;
  }
  .trendingCard {
    width: 173px;
    height: 100%;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .trendingPhotoCard {
    width: 149px;
    height: 164px;
    margin: 9px 12px 0 12px;
  }
  .trendingCard p {
    font-size: 12px;
  }

}
